.header {
    background-color: #222324;
    width: 100%;

}

.header-inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 80px;
}
.header-inner > div{
    display: flex;
    align-items: center;

}
.header-inner div img {
    width: 40px;
}
.header a{
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;

}
.header-search{
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    cursor: pointer;
}
.header-button{
    border: 1px solid #fff;
    outline: none;
    height: 40px;
    background-color: transparent;
    border-radius: 15px;
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
}
a.header-button-green{
    border: 1px solid rgba(162, 218, 165, .5);
    color: #a3daa5;

}